/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* CSS Variables */
:root {
  --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
  display: flex;
  align-items: center;
  /* position: sticky; */
  top: 0px;
}

#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
}

/* Navigation Bar: Logo and Image */
#logo {
  margin: 10px 34px;
}

#logo h1 {
  cursor: pointer;
  font-size: 33px;
  height: 33px;
  margin: 0px -13px;
}

/* Navigation Bar: List Styling */

#navbar ul {
  display: flex;
  font-family: "Times New Roman", Times, serif;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: rgb(32, 42, 119);
  border-bottom: 2px solid rgb(32, 42, 119);
}

/* Home Section */
#home {
  display: flex;
  flex-direction: column;
  padding: 3px 20px;
  margin-right: 40%;
  height: 584px;
  justify-content: center;
  align-items: center;
}

#home::before {
  content: "";
  position: absolute;
  background: url("../images/Carousel/slide-01.jpg") no-repeat center
    center/cover;
  height: 642px;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
  opacity: 0.89;
}

#home h1 {
  color: white;
}

#home p {
  font-family: "Times New Roman", Times, serif;
  color: #111;
  font-size: 1rem;
}
/* Services Section */

#services {
  margin: 34px;
  display: flex;
}
#services img:hover {
  cursor: pointer;
}
#services .box {
  margin: 2px 55px;
  /* background: #f2f2f2; */
  margin-bottom: 20px;
}

#services .box img {
  height: 400px;
  width: 100%;
  margin: auto;
  display: block;
}

#services .box p {
  font-family: "Times New Roman", Times, serif, serif;
}

/* Clients Section */
#client-section {
  position: relative;
}

#client-section::before {
  content: "";
  position: absolute;
  background: url("../images/Carousel/slide-02.jpg");
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

#clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-item {
  background-color: whites;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  margin: 15px;
  z-index: -1;
}

#clients img {
  height: 250px;
  width: 330px;
}

/* Contact Section */
#contact {
  position: relative;
}
#contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  background: url("../images/contactus.jpg") center center/cover;
}
#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;
}

#contact-box form {
  width: 40%;
}

#contact-box label {
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif, serif;
}

/* Utility Classes */
.h-primary {
  font-family: "Times New Roman", Times, serif;
  font-size: 3.8rem;
  padding: 12px;
}

.h-secondary {
  font-family: "Times New Roman", Times, serif, serif;
  font-size: 2.3rem;
  padding: 12px;
}

.btn {
  padding: 6px 20px;
  border: 2px solid white;
  background-color: brown;
  color: white;
  margin: 17px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}
.span {
  color: rgb(32, 42, 119);
}
.Btn {
  margin-bottom: 10px;
  font-size: 17px;
  padding: 6px 20px;
  background-color: grey;
  color: white;
  margin-top: 17px;
  cursor: pointer;
}
.Btn:hover {
  background-color: rgb(32, 42, 119);
  color: gray;
  cursor: pointer;
}

.center {
  text-align: center;
}
